<%- include ("../templates/head") -%>

<section>
  <%- include ("../templates/header") -%>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col md-8">
        <div class="mid-section">
          <div class="disclaimer-head">
            <br>
            <h5>Inspire Someone</h5>
            <small class="text-muted">
                Write something inspirational about something technical.
            </small>
            <hr>
          </div>
      
          <form class="needs-validation create-form" action="/create-article" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Project title" autofocus required="">
              </div>
            </div>
      
            <hr class="mb-4">
      
            <div class="form-group">
              <label for="spiel">Story</label>
              <textarea class="form-control" id="spiel" maxlength="1500" name="spiel" rows="5" required=""></textarea>
            </div>
      
            <hr class="mb-4">
            <div align="center" class="col-md-12">
              <div class="typeahead__button">
                <button class="create-btn btn btn-lg btn-success" type="submit">Publish</button>
              </div>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>
<section>

<%- include ("../templates/footer") -%>