<%- include ("../templates/head") -%>

<section>
  <%- include ("../templates/header") -%>
</section>
<div class="container-fluid">
    <div>
        <p>This main pages index pages works</p>
    </div>
</div>

<section>

</section>

<%- include ("../templates/footer") -%>